@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.main-background {
    background: rgb(55,56,58,1);
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,236,206,1) 100%);*/
    /*border-bottom: black 1px solid;*/
}

.secondary-background {
    background: rgb(50,51,54,1);
    /*background: linear-gradient(145deg, #bbe3d1, #e4ecce, #a6c2e0);*/
    /*border-bottom: black 1px solid;*/
}


.colored-title-text{
    background: linear-gradient(to right, #a1e5c2 0%, #2b82e0 100%);
    /*background: linear-gradient(to right,#ffffff 0%, #2b82e0 100%);*/
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px rgba(255,255,255,0.3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.shop-label{
    background: linear-gradient(to right, #6e33b7 0%, #717CA7 100%);
    /*background: linear-gradient(to right,#ffffff 0%, #2b82e0 100%);*/
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}


#navbar{
    top: 0;
    transition: top 0.3s
}

.navItem:hover{
    opacity: .6;
}

a:hover{
    text-decoration: none!important;
}

.clickable-link{
    color: blue!important;
}

.clickable-link:hover{
    text-decoration: underline!important;
}

.custom-tr:nth-of-type(even){
    background: rgb(255,255,255,.05);
}